build
module
source/_themes/pymotw/static/pymotw.css
/order.txt
source/glob/dir
/source/bz2/example.bz2
/source/bz2/lines.bz2
/source/cgitb/LOGS
/source/difflib/output.diff
.tox
/source/csv/testout.csv
/source/csv/testout_quoted.csv
*.egg-info
dist/
/blog_posts/
/source/random/state.dat
/source/gettext/locale/*/LC_MESSAGES/*.mo
/source/mailbox/example.mbox
/source/mailbox/Example
/source/filecmp/example
/source/mmap/lorem_copy.txt
/source/zipimport/zipimport_example.zip
/source/shelve/test_shelf.db.db
/source/pkgutil/pkgwithdatainzip.zip
/source/os/os_stat_chmod_example.txt
/source/pickle/test.dat
/source/venv/pyvenv.cfg
/source/gzip/*.gz
/source/zipfile/append.zip
/source/zipfile/pyzipfile.zip
/source/zipfile/write.zip
/source/zipfile/write_arcname.zip
/source/zipfile/write_compression.zip
/source/zipfile/writestr.zip
/source/zipfile/writestr_zipinfo.zip
/source/bz2/compress-level-*.bz2
/source/tarfile/addfile_string.tar
/source/tarfile/outdir/*
/source/tarfile/tarfile_add.tar
/source/tarfile/tarfile_addfile.tar
/source/tarfile/tarfile_append.tar
/source/tarfile/tarfile_compression.tar
/source/tarfile/tarfile_compression.tar.bz2
/source/tarfile/tarfile_compression.tar.gz
/source/sqlite3/todo.db
/source/os.path/broken_link
/source/codecs/decode_error.txt
/source/codecs/encode_error.txt
/source/codecs/nonnative-encoded.txt
/source/codecs/utf-16.txt
/source/codecs/utf-32.txt
/source/codecs/utf-8.txt
/source/pathlib/test_files
/source/pathlib/pathlib_chmod_example.txt
/source/pathlib/example.txt
/source/pathlib/example_link
/source/pathlib/touched
