build
module
source/_themes/pymotw/static/pymotw.css
/order.txt
source/glob/dir
/source/bz2/example.bz2
/source/bz2/lines.bz2
/source/cgitb/LOGS
/source/difflib/output.diff
.tox
/source/csv/testout.csv
/source/csv/testout_quoted.csv
*.egg-info
dist/
/blog_posts/
/source/random/state.dat
/source/gettext/locale/*/LC_MESSAGES/*.mo