alabaster==0.7.12
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
cogapp==3.0.0
cssselect==1.1.0
docutils==0.16
feedparser==5.2.1
flake8==3.8.3
future==0.18.2
gnureadline==8.0.0
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
lxml==4.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.1.0
packaging==20.4
Paver==1.3.4
pep8==1.7.1
pybitbucket==0.12.0
pycodestyle==2.6.0
pyenchant==3.1.1
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pyquery==1.4.1
python-wordpress-xmlrpc==2.3
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
simplejson==3.17.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-paverutils==1.17.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.2
uritemplate==3.0.1
urllib3==1.25.9
voluptuous==0.11.7
