alabaster==0.7.10
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
cogapp==2.5.1
cssselect==1.0.3
docutils==0.14
feedparser==5.2.1
flake8==3.5.0
future==0.16.0
gnureadline==6.3.8
idna==2.6
imagesize==1.0.0
Jinja2==2.10
lxml==4.2.0
MarkupSafe==1.0
mccabe==0.6.1
oauthlib==2.0.6
packaging==17.1
Paver==1.3.4
pep8==1.7.1
pybitbucket==0.12.0
pycodestyle==2.3.1
pyenchant==2.0.0
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pyquery==1.4.0
python-wordpress-xmlrpc==2.3
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
simplejson==3.13.2
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-paverutils
sphinxcontrib-websupport==1.0.1
uritemplate==3.0.0
urllib3==1.22
voluptuous==0.11.1
