alabaster==0.7.9
Babel==2.3.4
cogapp==2.5
cssselect==0.9.2
docutils==0.12
feedparser==5.2.1
flake8==2.6.2
future==0.15.2
gnureadline==6.3.3
imagesize==0.7.1
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
mccabe==0.5.0
oauthlib==1.1.2
Paver==1.2.4
pep8==1.7.0
pybitbucket==0.11.1
pycodestyle==2.0.0
pyenchant==1.6.6
pyflakes==1.2.3
Pygments==2.1.3
pyquery==1.2.13
python-wordpress-xmlrpc==2.3
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
simplejson==3.8.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinx-rtd-theme==0.1.9
sphinxcontrib-paverutils==1.16.0
uritemplate==0.6
